.background {
  background-color: white;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 12px;
  max-width: var(--content-width);
  margin-bottom: 96px;
}

.hero h1 {
  font-size: 96px;
}

.hero p {
  line-height: 1.25;
  font-size: 36px;
}

.ctaContainer {
  display: flex;
  flex-direction: column;
  width: 338px;
}

.ctaContainer a:first-child {
  font-size: 27px;
  padding: 20px;
}

.versionLink {
  align-self: center;
  text-decoration: underline;
  font-size: 27px;
  color: rgb(66, 153, 191);
  margin-top: 12px;
}

.versionLink:hover {
  cursor: pointer;
}
