.background {
  background-color: rgb(11, 114, 97);
}

.container {
  display: flex;
  justify-content: space-between;
}

.container article {
  margin-top: 24px;
  max-width: 344px;
}

.container h1 {
  margin-bottom: 36px;
  font-weight: 600;
  letter-spacing: unset;
}

.container p {
  margin-bottom: 30px;
}
