:root {
  --content-width: 1152px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  line-height: 1.6;
}

.highlight {
  position: relative;
  display: inline-block;
  margin-bottom: 12px;
}

.highlight::after {
  content: "";
  height: 12px;
  width: 120%;
  background-color: rgb(46, 36, 89);
  position: absolute;
  top: 45px;
  left: -10px;
}

.sectionDefaults {
  color: white;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 30px 12px 60px;
}

.sectionDefaults h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: 1px;
}

.button {
  text-decoration: unset;
  color: black;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px 30px;
  margin-top: 20px;
  background-color: rgb(255, 200, 50);
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: inherit;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
}

.button:hover {
  border-color: black;
  cursor: pointer;
}

.button:focus-visible {
  outline: unset;
  border-color: black;
}

.redButton {
  color: white;
  background-color: rgb(167, 33, 69);
}

.redButton:hover,
.redButton:focus-visible {
  outline: unset;
  border-color: white;
}

.blueButton {
  color: white;
  background-color: rgb(46, 36, 89);
}

.blueButton:hover,
.blueButton:focus-visible {
  outline: unset;
  border-color: white;
}

@media (max-width: 959.2px) {
  body {
    font-size: 15px;
  }

  .sectionDefaults h1 {
    font-size: 30px;
  }
}
